
<mat-card class="board">
  <div class="grid">
    <div class="square" (click)="move();">

    </div>
    <div class="square">

    </div>
    <div class="square">

    </div>
  </div>
  <div class="grid">
    <div class="square">

    </div>
    <div class="square">

    </div>
    <div class="square">

    </div>
  </div>
  <div class="grid">
    <div class="square">

    </div>
    <div class="square">

    </div>
    <div class="square">

    </div>
  </div>
</mat-card>

<mat-card class="status-bar">
  <mat-card-content class="turn-indicator">
    <span class="player1" *ngIf="player1"></span>
    <span class="player2" *ngIf="player2"></span>
  </mat-card-content>
  <!-- <input class="player1" placeholder="PLAYER 1"> -->
  <!-- <input class="player2" placeholder="PLAYER 2"> -->
  <mat-card-actions>
    <button mat-button>Undo</button>
    <button mat-button color="primary">Reset</button>
  </mat-card-actions>
</mat-card>
