.status-bar {
  width: 300px;
  margin: auto;
}

.player1 {
  display: inline-block;
  float: left;
  height: 30px;
  width: 30px;
  background-color: #cb1111;
  text-align: center;
  color: white;
  font-size: 24px;
  cursor: default;
}

.player2 {
  display: inline-block;
  float: right;
  height: 30px;
  width: 30px;
  background-color: #0d297f;
  text-align: center;
  color: white;
  font-size: 24px;
  cursor: default;
}

/* input:focus {
  outline-width: 0;
} */

.turn-indicator {
  margin-bottom: 30px;
}

.board {
  width: 300px;
  height: 300px;
  margin: auto;
  background-color: white;
}

.grid {
  display: inline-block;
}

.square {
  background-color: #FFF;
  width:100px;
  height:100px;
  text-align: center;
  color: white;
  font-size: 80px;
  display: inline-block;
  cursor: pointer;
  border-style: none;
}

.square1 {
  background-color: #cb1111;
  width:100px;
  height:100px;
  text-align: center;
  color: white;
  font-size: 80px;
  display: inline-block;
  cursor: default;
}

.square2 {
  background-color: #0d297f;
  width:100px;
  height:100px;
  text-align: center;
  color: white;
  font-size: 80px;
  display: inline-block;
  cursor: default;
}

.square:active:focus. .square:visited {

  outline:0;
}

.square:hover {
  background-color: #e9e9e9;
}
