
<mat-card class="board">
  <div class="grid">
    <div class="square">

    </div>
    <div class="square">

    </div>
    <div class="square">

    </div>
  </div>
  <div class="grid">
    <div class="square">

    </div>
    <div class="square">

    </div>
    <div class="square">

    </div>
  </div>
  <div class="grid">
    <div class="square">

    </div>
    <div class="square">

    </div>
    <div class="square">

    </div>
  </div>
</mat-card>

<mat-card class="status-bar">
  <input class="player1" placeholder="PLAYER 1">
  <input class="player2" placeholder="PLAYER 2">
  <button mat-button>Undo</button>
  <button mat-button color="primary">Reset</button>

</mat-card>
